body, p, h1, h2, h3, h4, h5, h6 {font-family: Verdana,Arial,sans-serif;}
body {padding-top: 0px; margin-top: 0px; /*font-size: 76%*/ font-size: 85%}
p, li {font-size: 1.0em}
em {font-weight: bold; font-style: normal}

strong.strong2 {font-style: italic; font-weight: normal}

#rootContainer{width:1000px; border: solid #725f34 1px; margin: 10px auto}
/* #header{height: 75px; overflow: hidden; background-image: url('/images/background.jpg')} */
#header{height: 75px; overflow: hidden;}
#headerLogo { margin: 2px 0px 2px 15px; padding: 0px;}
#headerLogo a {margin: 0; padding: 0px;}
#headerLogo img{height: 71px; border: none;}
#nav {border: solid #2d3952 0px; border-width: 0px 0px 1px 0px; font-size: 100%}
#footer { text-align: center; color: white; font-size: 1em;background-color: #455477;}
#footer p {padding: 2px; font-size: 90%; text-align: center}
#footer span {padding: 0px 8px}
#footer span#footerIso{padding-left: 30px}
#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active {color: white}

h1, h2, h3, h4, h5, h6, p {margin: 0px; padding-left: 30px; padding-right: 30px}
p {padding-top: 5px; padding-bottom: 10px; text-align: left;}

h3, h4, h5 {font-style: normal; padding-top: 15px; padding-bottom: 0px;}
h3 {font-weight: bold}
h3, h4, h5, p.caption2 {color: #455477;}
h3, h4 {font-size: 120%;}
h5 {font-size: 110%;}
p#welcomeHeading {padding-top: 30px;}
p#welcomeHeading,

em.projectFlow {padding-top: 25px; padding-bottom: 0px;
	font-weight: normal; font-style: normal; font-size: 130%;
	color: #455477;}

#main {text-align: left; margin: 0px; padding: 0px}

.captionText {color: #999; font-style: normal;
font-size: 100%; font-weight: bold; padding-top: 15px}

.myContentSlider .pagination {display: none;}
ul#introGallery {list-style:none; margin: 0px; padding: 0px;}
ul#introGallery li img{border: 1px solid #ccc; padding: 0px; margin: 0px}

ol {color: #555555}
ol li p {padding: 1px 0px; margin: 0px;}

span#welcomeToMidwest {font-size: 130%; padding-right: 20px; font-weight: bold}
span#welcomeIso {font-style: italic}
p#mission{font-size: 100%; font-style: italic; color: #eee; text-align: left; padding: 10px 15px;
	margin: 10px 20px 10px 20px; background-color: #455477}

#introBlockOuter{width: 100%; padding: 0px; margin: 20px 30px; text-align: left;}
#introBlock{width: 100%; margin: 0px auto;}
.introLhs {border: none}
.introRhs {margin: 0px 30px 0px 0px; padding: 0px; border: none;}

XXdiv.floatDivRight {float: right; padding: 30px}
XXdiv.floatDivRight img {width: 100%; height: auto}

img.general {border: solid gray 1px; padding: 1px} 
