<div class='ddsmoothmenu' id='smoothmenu1'>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/profile">Company Profile</a></li>
		<li><a href="#">Products</a>
			<ul>
				<li><a href="/products/woodworking#product0">Wood Working Adhesives</a></li>
				<li><a href="/products/industrial">Industrial Adhesives</a></li>
			</ul>
		</li>
		<li><a href="/infrastructure">Infrastructure</a></li>
		<li><a href="/distributors">Distributorship</a></li>
		<li><a href="/contact">Contact Us</a></li>
	</ul>
</div>
